<table id="users" class="admintable generaltable mb-3 mt-4">
<thead>
<tr>
    <th class="header c0 centeralign" scope="col">{{#str}}name, moodle{{/str}}</th>
    <th class="header c1 lastcol" scope="col">{{#str}}email, moodle{{/str}}</th>
</tr>
</thead>
<tbody>
{{#users}}
<tr>
    <td class="centeralign cell c0">
        <a href="{{link}}">{{full_name}}</a>
    </td>
    <td class="centeralign cell c1 lastcol">{{email}}</td>
</tr>
{{/users}}
</tbody>
</table>