<div class="mb-4 mt-2 pl-1">
    <a href="{{back_link}}">{{#str}}back_to_users, local_course_completion_report{{/str}}</a>
</div>
<table id="courses" class="admintable generaltable mb-3 mt-4">
<thead>
<tr>
    <th class="header c0 centeralign" scope="col">{{#str}}report_course_name_col, local_course_completion_report{{/str}}</th>
    <th class="header c0 centeralign" scope="col">{{#str}}report_completion_status_col, local_course_completion_report{{/str}}</th>
    <th class="header c2 lastcol" scope="col">{{#str}}report_time_course_completed_col, local_course_completion_report{{/str}}</th>
</tr>
</thead>
<tbody>
{{#courses}}
<tr>
    <td class="centeralign cell c0"><a href="{{link}}">{{fullname}}</a></td>
    <td class="centeralign cell c1">{{status}}</td>
    <td class="centeralign cell c2 lastcol">{{time_completed}}</td>
</tr>
{{/courses}}
</tbody>
</table>
{{#no_courses}}
<div class="text-center">
<h4>{{#str}}no_enroled_courses, local_course_completion_report{{/str}}</h4>
</div>
{{/no_courses}}